/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900; */

body {
    background-color: #eee8d5;
    color: #073642;
    }
.skills {
    color: #268bd2;
    //color: #cb4b16;
    background-color: #fdf6e3;
    }
.btn-other {
    background-color: #fdf6e3;
    display: inline-block;
    *display: inline;
    padding: 1px 2px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    border-radius: 4px;
}